body{
    background: linear-gradient(#000046, #1cb5e0);
    min-height: 100vh;
}


.title{
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size:6vmin;

}
.main-title{
    height: auto;
}
.flex-box{
    display: flex;
    justify-content:center;
    margin-top: 15px;
    max-width: 100%;
    height: auto;
}
.caja__item{
    height: auto;
    width: auto;
    
}

.enlaces__item{
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 400;
    margin: 10px;
    font-size:4vmin;
}


.img-box{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.lenguaje-img{
    padding: 5vmin;
    height: 80%;
    width: 80%;
}